# Puerto en el que arranca el servidor Express
PORT=5000

# URL del Frontend en producción (usado para la política de CORS)
FRONTEND_URL=https://cootaxis-app.onrender.com

# Entorno activo (production | development)
NODE_ENV=development

# Configuración de base de datos MySQL (XAMPP por defecto)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=cootaxis
DB_USER=root
DB_PASSWORD=
DB_SSL=false
